#Wordpress
/index.php
wp-*
.htaccess
xmlrpc.php
media

#Övrigt
old
nollesystem
frageladan
boka
robots.txt

#Tredjeparts
daskwiki
libs
tools

#Seniorregister
seniorregister/sql
seniorregister/config.php
