body {
    color: #333333;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 93%;
    line-height: 1.4em;
    margin: 0;
    padding: 0;
    text-align: left;
}
a, h2 a:hover, h3 a:hover {
    color: #0066CC;
    text-decoration: none;
}
a:hover {
	color: #114477;
	text-decoration: underline;
}
h2 {
    margin: 0 0 0;
}
h2, h2 a, h2 a:hover, h2 a:visited, h3, h3 a, h3 a:hover, h3 a:visited, #sidebar h2, #wp-calendar caption, cite {
    text-decoration: none;
}
h2, h2 a, h2 a:visited, h3, h3 a, h3 a:visited {
    color: #333333;
}
h2 {
    font-size: 1.33em;
    text-align: center;
    padding-bottom: 13px;
}
h1, h2, h3 {
    font-family: 'Century Gothic',Verdana,Arial,Sans-Serif;
    font-weight: bold;
}
.matches th {
 text-align: left;
 padding-right: 10px;
}

.matches td {
 padding: 1px;
 height: 1.2em;
 padding-right: 10px;
}

.matches .username {
 width: 14em;
}
.matches .sekt {
 width: 2.4em;
}
.matches .mail {
 width: 10em;
}
.matches .homepage {
 width: 10em;
}
.sok { 
  padding-bottom: 10px;
  border-bottom: 1px solid #DBDBDB;
  margin-bottom: 1em;
}

.sekt IMG { 
  width:1.2em;
  height:1.2em;
}

.D {background:#F2007F;}
.E {background:#FFFFFF;color:black;}
.F {background:#FB7E05;}
.K,.B {background:#FFFF00;color:black;}
.M {background:#990000;}
.T {background:#0066cc;}
.P {background:#ddddff;color:black;}
.V {background:#446d56;}
.I {background:#824b23;}

.userimage {
    border: 1px solid black;
    float: left;
}

.info {
    float: left;
    margin-left: 14px;
}
 .info dl{
 margin:0px;
}
.tillbaka{
	position: absolute;
	top:0;
	left: 0;
}
